*.pyc
.coverage
.cache
.junit.xml
.tox/
*.egg-info/
*.egg
lib/
bin/
dist/
include/
locale/
__pycache__
node_modules
*.svg
*.woff
*.woff2
*.ttf
*.eot
*.sqlite3
.env-py27
RELEASE.sh
bundle.js
bundle.js.map
log.html
output.xml
report.html
selenium-screenshot-1.png

